.navbar {
  padding: 30px 0;
  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;

    a:hover {
      text-decoration: underline;
      color: inherit;
    }

    &__item {
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  &__topbar {
    display: flex;
    justify-content: space-between;

    &__shoppingCart {
      cursor: pointer;
    }
  }
}
