.detail {
  margin-bottom: 40px;
  &__image_container {
    position: relative;
    height: 500px;
  }

  &__description {
    height: 500px;
    &__center {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 15px;
    }
  }

  &__add_product {
    display: flex;
    justify-content: center;
  }

  &__description-grid {
    height: 500px;
    display: grid;
  }
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
